{% extends "layout.njk" %}

{% block head %} 

        <title>Portifólio</title> 
        
{% endblock %}

{% block content %}
    <div id="wrapper">
        <img src="{{about.img}}" id="myfoto" alt="{{about.name}}">

        <h1 id="name">{{about.name}}</h1> 
        <h2>{{about.role}}</h2>
        <p id="education">{{about.education}}</p>
        <p id="tec">{{about.tecnologies}}</p>
    </div>

{% endblock %}