{% extends "layout.html" %}

{% block head %} 

        <title>Portifólio</title> 
        
{% endblock %}

{% block content %}
    <div id="wrapper">
        <img src="https://scontent.fbsb8-2.fna.fbcdn.net/v/t1.0-9/s960x960/88166282_2879810075445688_6102658720955629568_o.jpg?_nc_cat=109&_nc_sid=85a577&_nc_eui2=AeFMnyKXI7jAagB5Mt3CBnxo8PPATaDhFGjw88BNoOEUaD51laDz8HmMzmZVw4hu0Bp2UHsfJpHuef9ZNPLGJRQa&_nc_ohc=1l7oQqzIqN4AX9JLgRO&_nc_ht=scontent.fbsb8-2.fna&_nc_tp=7&oh=2cf6b51d0e9f6b595dc3c2ec5a127d1b&oe=5EB1809D" id="myfoto" alt="Lucas">

        <h1 id="name">Lucas Felinto</h1> 
        <h2>Full Stack Developer</h2>
        <p id="education">Estudante de Análise e Desenvolvimento de Sistemas</p>
        <p id="tec">HTML | CSS | JavaScript | Node.js</p>
    </div>

{% endblock %}